.ui-state-error {
  background-color: #fdddd0;
  border-color: #fba98a;
  color: #7b2a0a;
}
.ui-state-highlight {
  background-color: #ccecfc;
  border-color: #80d0f8;
  color: #005179;
}
.carousel {
  position: relative;
  max-width: 100%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.carousel .carousel-clip {
  overflow: hidden;
  height: 100%;
}
.carousel .carousel-wrap {
  font-size: 0;
  min-width: 100%;
}
.carousel .carousel-wrap .carousel-item {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}
.carousel:hover .carousel-btn {
  display: block;
}
.carousel .carousel-btn {
  background: rgba(255, 255, 255, 0.75);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#bfffffff', EndColorStr='#bfffffff')";
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#bfffffff', EndColorStr='#bfffffff');
  zoom: 1 !important;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 3em;
  display: none;
  font-size: 14px;
}
.carousel .carousel-btn:before {
  font-family: 'flexkit-icons';
  font-size: 3em;
  line-height: 1;
  height: 1em;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.carousel .carousel-btn.prev {
  left: 0;
}
.carousel .carousel-btn.prev:before {
  content: "\e0c5";
}
.carousel .carousel-btn.next {
  right: 0;
}
.carousel .carousel-btn.next:before {
  content: "\e0c6";
}
.carousel .carousel-btn:hover {
  background: rgba(255, 255, 255, 0.9);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#e6ffffff', EndColorStr='#e6ffffff')";
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#e6ffffff', EndColorStr='#e6ffffff');
  zoom: 1 !important;
}
.tooltip {
  cursor: help;
}
.chosen-select {
  width: 100%;
}
.chosen-select-deselect {
  width: 100%;
}
.responsive-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
