/* ==========================================================================
   Created by Ilya Pestov - @ilya_pestov https://github.com/Pestov/Shade
   ========================================================================== */
body {
  background: #ffffff;
  color: #555555;
}
header {
  background: transparent;
  color: #555555;
}
header .logo {
  margin-top: 0;
  margin-bottom: 0;
}
header .logo img {
  margin: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#content {
  background: #ffffff;
  color: #555555;
}
.page404 {
  padding: 1em 0 3em;
  color: #555555;
}
.page404 .first {
  text-align: center;
  font-size: 17em;
  line-height: 1;
  border-right: 1px solid #bbbbbb;
}
aside .aside-box {
  margin-bottom: 30px;
}
footer {
  padding: 24px 0;
  background: transparent;
  color: #555555;
  font-size: 0.85em;
}
#go-top {
  color: #ffffff;
  border-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
}
#go-top:hover,
#go-top:active,
#go-top.active {
  color: #ffffff;
  border-color: #61b3de;
  background-color: #61b3de;
}
form {
  *zoom: 1;
}
form:after,
form:before {
  content: "";
  display: table;
}
form:after {
  clear: both;
}
form p {
  margin: 0;
}
form > p,
form fieldset > p,
form > div,
form fieldset > div {
  margin-bottom: 15px;
  *zoom: 1;
}
form > p:after,
form fieldset > p:after,
form > div:after,
form fieldset > div:after,
form > p:before,
form fieldset > p:before,
form > div:before,
form fieldset > div:before {
  content: "";
  display: table;
}
form > p:after,
form fieldset > p:after,
form > div:after,
form fieldset > div:after {
  clear: both;
}
form fieldset {
  padding: 8px 12px;
}
form fieldset.unstyled {
  padding: 0;
  border: 0;
}
form fieldset.unstyled legend {
  width: 100%;
  padding: 0;
  margin-bottom: 1em;
  font-weight: bold;
}
form fieldset legend {
  font-size: 1.25em;
}
form .captcha .captcha_image {
  width: 65% !important;
  height: auto !important;
  float: left;
  text-align: center;
}
.sidebar form .captcha .captcha_image {
  width: 100% !important;
}
form .captcha label,
form .captcha input {
  float: left;
  width: 35%;
  font-weight: normal;
  font-size: 0.85em;
}
.sidebar form .captcha label,
.sidebar form .captcha input {
  width: 100%;
}
form .captcha .recaptcha_links {
  clear: both;
  font-size: 0.85em;
  padding-top: 1em;
}
form .captcha .recaptcha_links a + a {
  border-left: 1px solid #888888;
  padding-left: 1em;
  margin-left: 1em;
}
form [type="submit"] {
  float: right;
}
label {
  display: block;
  margin-bottom: 0.25em;
}
.required:after {
  color: #f65314;
  content: ' *';
}
.notvalid {
  color: #f65314 !important;
}
.notvalid:before {
  font-family: 'toaster-icons';
  content: "\f06a";
  margin-right: 5px;
}
select,
textarea,
input {
  padding: .5em;
  border-width: 1px;
  border-style: solid;
  border-color: #bbbbbb;
  background-color: #ffffff;
  color: #2f2f2f;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
select:focus,
textarea:focus,
input:focus {
  border-color: #61b3de;
  -webkit-box-shadow: 0 0 5px #61b3de;
  -moz-box-shadow: 0 0 5px #61b3de;
  box-shadow: 0 0 5px #61b3de;
}
select.success,
textarea.success,
input.success,
select.warning,
textarea.warning,
input.warning,
select.error,
textarea.error,
input.error {
  color: #2f2f2f;
}
select.success,
textarea.success,
input.success {
  border-color: #8fd400;
}
select.success:focus,
textarea.success:focus,
input.success:focus {
  -webkit-box-shadow: 0 0 5px #8fd400;
  -moz-box-shadow: 0 0 5px #8fd400;
  box-shadow: 0 0 5px #8fd400;
}
select.warning,
textarea.warning,
input.warning {
  border-color: #ffbb00;
}
select.warning:focus,
textarea.warning:focus,
input.warning:focus {
  -webkit-box-shadow: 0 0 5px #ffbb00;
  -moz-box-shadow: 0 0 5px #ffbb00;
  box-shadow: 0 0 5px #ffbb00;
}
select.error,
textarea.error,
input.error,
select.notvalid,
textarea.notvalid,
input.notvalid {
  border-color: #f65314;
}
select.error:focus,
textarea.error:focus,
input.error:focus,
select.notvalid:focus,
textarea.notvalid:focus,
input.notvalid:focus {
  -webkit-box-shadow: 0 0 5px #f65314;
  -moz-box-shadow: 0 0 5px #f65314;
  box-shadow: 0 0 5px #f65314;
}
select[disabled],
textarea[disabled],
input[disabled],
[disabled] select,
[disabled] textarea,
[disabled] input,
select[disabled]:focus,
textarea[disabled]:focus,
input[disabled]:focus,
select.noedit,
textarea.noedit,
input.noedit,
select.noedit:focus,
textarea.noedit:focus,
input.noedit:focus {
  border-color: #d5d5d5 !important;
  background: #eeeeee !important;
  color: #a2a2a2 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
input,
select {
  height: 2.5em;
  line-height: 1.5em;
}
textarea {
  min-height: 5em;
}
.labeled {
  display: block;
  position: relative;
  *zoom: 1;
}
.labeled:after,
.labeled:before {
  content: "";
  display: table;
}
.labeled:after {
  clear: both;
}
.labeled label,
.labeled .label {
  margin-top: 0;
  margin-bottom: 0;
  height: 2.5em;
  line-height: 2.5em;
  background: #bbbbbb;
  text-align: center;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.labeled input:focus,
.labeled select:focus {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.labeled input:focus ~ label,
.labeled select:focus ~ label,
.labeled input:focus ~ .label,
.labeled select:focus ~ .label {
  background: #61b3de;
}
.labeled.icon input:focus ~ [class*="icon-"],
.labeled.icon select:focus ~ [class*="icon-"],
.labeled.icon textarea:focus ~ [class*="icon-"] {
  opacity: 1;
  filter: alpha(opacity=100);
}
.labeled.icon [class*="icon-"] {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  z-index: 2;
  height: 1em;
  font-size: 1.25em;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.labeled.icon [class*="icon-"]:before {
  vertical-align: top;
}
.labeled.icon.right [class*="icon-"] {
  right: .375em;
}
.labeled.icon.right input,
.labeled.icon.right textarea {
  padding-right: 2em;
}
.labeled.icon.left [class*="icon-"] {
  left: 0.375em;
}
.labeled.icon.left input,
.labeled.icon.left textarea {
  padding-left: 2em;
}
.labeled.icon.top [class*="icon-"] {
  margin: 0;
  top: .375em;
}
.forgot-password,
#remember-password {
  float: left;
  margin-top: -27px;
}
label[for*="chr-"] {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox_radio-wrap {
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.filed-upgrade {
  height: auto;
  position: absolute;
  z-index: -10;
  -webkit-transition: none 0.5s ease;
  -moz-transition: none 0.5s ease;
  transition: none 0.5s ease;
  opacity: 0;
  filter: alpha(opacity=0);
}
.filed-upgrade ~ .checkbox_radio {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-size: 16px;
  height: 1em;
  width: 1em;
  line-height: 0;
  background-color: #ffffff;
  vertical-align: middle;
  border-style: solid;
  border-width: 1px;
  border-color: #bbbbbb;
  cursor: pointer;
}
.filed-upgrade ~ .checkbox_radio:before {
  width: 0.75em;
  height: 0.75em;
  margin: 0.125em;
  content: '';
  display: block;
}
.filed-upgrade:hover ~ .checkbox_radio:before {
  background: #bbbbbb;
}
.filed-upgrade:checked ~ .checkbox_radio {
  border-color: #61b3de;
}
.filed-upgrade:checked ~ .checkbox_radio:before {
  background: #61b3de;
}
.filed-upgrade:disabled ~ .checkbox_radio {
  background: #eeeeee !important;
  border-color: #d5d5d5 !important;
}
.filed-upgrade:disabled:checked ~ .checkbox_radio:before {
  color: #a2a2a2 !important;
  background: #a2a2a2 !important;
}
.radio-upgrade ~ .checkbox_radio {
  -webkit-border-radius: 10em;
  border-radius: 10em;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.radio-upgrade ~ .checkbox_radio:before {
  -webkit-border-radius: 10em;
  border-radius: 10em;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.checkbox-upgrade.switcher ~ .checkbox_radio {
  overflow: hidden;
  position: relative;
  width: 4em;
  height: 1.25em;
}
.checkbox-upgrade.switcher ~ .checkbox_radio:before,
.checkbox-upgrade.switcher ~ .checkbox_radio:after {
  position: static;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 0.75em;
  line-height: 1.875em;
  font-weight: bold;
  width: 50%;
  text-align: center;
  float: left;
  margin: 0;
}
.checkbox-upgrade.switcher ~ .checkbox_radio:before {
  content: "ON" !important;
  color: #8fd400;
}
.checkbox-upgrade.switcher ~ .checkbox_radio:after {
  content: "OFF" !important;
  color: #f65314;
}
.checkbox-upgrade.switcher ~ .checkbox_radio span {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #bbbbbb;
  position: absolute;
  border: 1px solid #ffffff;
  z-index: 5;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
}
.checkbox-upgrade.switcher:checked ~ .checkbox_radio span {
  left: 50%;
}
#search-form p {
  float: left;
  width: 30%;
  margin: 0;
}
#search-form p:first-child {
  width: 70%;
}
#search-form input[type="text"] {
  border-color: #61b3de;
}
#search-form input[type="submit"] {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}
form .phone {
  float: left;
  width: 32.333%;
  margin: 0 0 0 1%;
  white-space: nowrap;
}
label + form .phone {
  clear: both;
  margin: 0;
  width: 33.333%;
}
label + form .phone + .phone + .phone input {
  width: 100%;
}
form .phone input {
  width: 90%;
}
form .phone span {
  margin-left: 3%;
}
form .phone label {
  display: block;
  color: #cccccc;
  font-size: 0.85em;
}
form .address {
  width: 49%;
  float: left;
  margin: 1% 1% 0 0;
}
form .address:first-child {
  width: 100%;
  clear: both;
}
form .address:first-child + .address + .address,
form .address:first-child + .address + .address + .address + .address {
  margin-right: 0;
  margin-left: 1%;
}
form .address label {
  display: block;
  color: #cccccc;
  font-size: 0.85em;
}
form .checkbox span + span,
form .radio span + span {
  margin-left: 5%;
}
.img_gallery {
  margin: 10px 0;
  font-size: 0;
}
.img_gallery li {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}
.img_gallery li {
  margin: 5px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  padding: 3px;
  background: transparent;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px solid #bbbbbb;
}
a .img_gallery li:hover {
  border-color: #61b3de;
}
.img_gallery .image_caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.rotator {
  position: relative;
  overflow: hidden;
  background: #fff;
}
.rotator .slide-description {
  padding: 10px 16px;
  color: #FFF;
  background: rgba(0, 0, 0, 0.5);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#80000000', EndColorStr='#80000000')";
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#80000000', EndColorStr='#80000000');
  zoom: 1 !important;
}
.rotator img {
  width: 100%;
}
.rotator img ~ .slide-description {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.rotator.cycle-slideshow .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  list-style: none;
}
.rotator.cycle-slideshow .slide > a.generator-links:not(:first-child),
.rotator.cycle-slideshow .slide > a.tpopup:not(:first-child) {
  position: absolute;
  top: 10px;
  left: 10px;
}
.rotator.cycle-slideshow .cycle-pager {
  position: absolute;
  top: 5px;
  right: 0;
  z-index: 20;
  text-align: center;
  font-size: 0;
  line-height: 0;
}
.rotator.cycle-slideshow .cycle-pager > * {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin: 0 3px;
  color: #ffffff;
  background: #FFF;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 10px;
  height: 10px;
  line-height: 10px;
  font-size: 0;
}
.rotator.cycle-slideshow .cycle-pager > *:before {
  font-size: 10px;
}
.rotator.cycle-slideshow .cycle-pager > *:hover {
  background: #379fd5;
}
.rotator.cycle-slideshow .cycle-pager > *.cycle-pager-active {
  cursor: default;
  color: #ffffff;
  background: #61b3de;
}
.rotator.cycle-slideshow .action-button {
  background: #61b3de;
  color: #ffffff;
  position: absolute;
  top: 50%;
  z-index: 20;
  cursor: pointer;
  margin-top: -19px;
  padding: 10px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.rotator.cycle-slideshow .action-button:before {
  font-size: 18px;
}
.rotator.cycle-slideshow .action-button:hover {
  background: #379fd5;
  color: #ffffff;
}
.rotator.cycle-slideshow .action-button:before {
  font-family: 'toaster-icons';
}
.rotator.cycle-slideshow .action-button.cycle-prev {
  left: -54px;
}
.rotator.cycle-slideshow .action-button.cycle-prev:before {
  content: "\e0c5";
}
.rotator.cycle-slideshow .action-button.cycle-next {
  right: -54px;
}
.rotator.cycle-slideshow .action-button.cycle-next:before {
  content: "\e0c6";
}
.rotator.cycle-slideshow:hover .action-button.cycle-prev {
  left: 10px;
}
.rotator.cycle-slideshow:hover .action-button.cycle-next {
  right: 10px;
}
.directupload-wrapper {
  display: inline-block;
  vertical-align: top;
}
.directupload-wrapper .direct-upload-images {
  position: relative;
}
.directupload-wrapper .direct-upload-images img {
  border: none;
  cursor: pointer;
  margin: 0;
}
.directupload-wrapper .directupdelete {
  color: #f65314;
}
@media only screen and (min-width: 801px) {
  .d-hide,
  .t-visible,
  .m-visible {
    display: none !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 800px) {
  .t-hide,
  .d-visible,
  .m-visible {
    display: none !important;
  }
}
@media only screen and (max-width: 480px) {
  .m-hide,
  .d-visible,
  .t-visible {
    display: none !important;
  }
}
@media only screen and (max-width: 800px) {
  #slider .description-slider {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .captcha,
  .captcha img {
    width: 100%;
  }
  form [type="submit"],
  form [type="button"] {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}
.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.95);
  background-position: center center;
  background-repeat: no-repeat;
}
.loading-page:after,
.loading-page:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 3em;
  bottom: 0;
  font-size: 3em;
  color: #999;
  margin: auto;
  text-align: center;
  line-height: 1;
  height: 1em;
}
.loading-page:after {
  content: "Loading...";
}
.loading-page:before {
  font-family: 'toaster-icons';
  content: "\e0f3";
  font-size: 10em;
  height: 1em;
  width: 1em;
  top: -0.5em;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
