@import "_getting_started/2-variables";
@import "systems/normalize";

// Reset & Basics
//==================================================
html, body {
    //    height : 100%;
}
* {
    -webkit-touch-callout       : none; //если надо, то запрещаем выделение текста
    -webkit-tap-highlight-color : rgba(0, 0, 0, 0); //убираем фон подсветки ссылок и кнопок
    -webkit-tap-highlight-color : transparent; //убираем фон подсветки ссылок и кнопок

    &, &::before, &::after {
        .box-sizing();
    }
}

.selection();

blockquote, q {
    quotes : none;

    &:before, &:after {
        content : none;
    }
}
em {
    font-style : italic;
}
table {
    border-spacing  : 0;
    border-collapse : collapse;
    //    word-break      : break-all
}
a:focus, [type="checkbox"]:focus, [type="radio"]:focus, *:focus {
    outline : none;
}
a, [type="submit"], [type="button"], button, [type="checkbox"], [type="radio"] {
    cursor : pointer;
}
img, [type="checkbox"], [type="radio"] {
    vertical-align : middle;
}
img {
    max-width : 100%;
    height    : auto;
}
iframe {
    border    : none;
    width     : 100%;
    max-width : 100%;
}
.gmaps {
    color     : #000;
    max-width : 100%;

    img {
        max-width : none;
    }
}
.ltr {
    direction    : ltr;
    unicode-bidi : bidi-override;
}
.rtl {
    direction    : rtl;
    unicode-bidi : bidi-override;
}
[contenteditable="true"] {
    .inline-block();
    background : @input-bg;
    border     : @input-border-width solid @input-border-color;
    cursor     : text;
    padding    : @padding-mini-vertical @padding-mini-horizontal;
}

//// Reset Form
////==================================================
dl, dt, dd {
    margin : 0;
}
input, select, textarea, button {
    max-width : 100%;
    width     : 100%;
    .placeholder();
}
// Reset width of input images, buttons, radios, checkboxes
button,
[type="file"],
[type="image"],
[type="submit"],
[type="reset"],
[type="button"],
[type="radio"],
[type="checkbox"] {
    width : auto; // Override of generic input selector
}
[type="file"] {
    border  : none;
    padding : 0;
}
[type="color"] {
    padding : 0;
}
textarea {
    vertical-align : top;
    line-height    : normal;
    .resize();
}
[type="checkbox"], [type="radio"] {
    border : none;
    height : auto;

    &:focus {
        .box-shadow(none; @input-shadow-focus) !important;
    }
}
// Make multiple select elements height not fixed
select[multiple],
select[size] {
    height : auto;
}
// Fix optgroup Firefox bug per https://github.com/twitter/bootstrap/issues/7611
select optgroup {
    font-style  : inherit;
    font-size   : inherit;
    font-family : inherit;
}

// Reset for all navigation items, related-products
//==================================================
.main_menu when (@menu-main) {
    .clearfix-mixin();
}
//fix for Safari 3
& when (@webkit) and (@menu-main) {
    ::i-block-chrome, .main_menu {
        display : table;
        width   : 100%;
    }
}
.main_menu, .main_menu li, .main_menu ul, .main_menu ul li,
.static_menu, .static_menu li,
.img_gallery, .img_gallery li {
    margin          : 0;
    padding         : 0;
    list-style-type : none;
}

.clear {
    display    : block;
    clear      : both;
    overflow   : hidden;
    visibility : hidden;
    height     : 0;
}
.clearfix {
    .clearfix-mixin();
}
.disable-hover, .disable-hover * {
    pointer-events : none !important;
}
.ui-widget-overlay, .overlay {
    position   : fixed;
    top        : 0;
    left       : 0;
    bottom     : 0;
    right      : 0;
    z-index    : 99;
    background : fade(#000, 50%);
}
.ui-widget {
    & ~ .overlay {
        z-index : 999;
    }
}