@checkout-heading-bg : #eee;
// Reset style
#checkoutitemlist *,
#cart-summary *,
#checkout-widget-preview *,
.spinner *,
#checkout-widget *,
.quote-blue *,
#toaster-quote *,
#quote-details *,
#storeblue *,
#quote-summary *,
.post-purchase *{
    clear      : none;
    font-style : normal;
    .border-radius(0);
    //position   : relative;
}
.ui-state-error{
    margin  : 10px 0;
    padding : 0;
    li{
        color      : #FFFFFF;
        font-size  : 12px;
        list-style : none outside none;
        padding    : 5px;
        text-align : center;
    }
}
.errors{
    margin  : 10px 0;
    padding : 0;
    .rgba(@brand-error; 0.75);

    li{
        color      : #FFFFFF;
        font-size  : 12px;
        list-style : none outside none;
        padding    : 5px;
        text-align : center;
    }
}
.spinner{ }

// Checkout cart table styles
//==================================================
#checkoutitemlist, .post-purchase-report{
    background-color : #FFF;

    thead{
        background-color : @quote-heading-bg;
        //color            : @primary-color;
    }
    th, td:not(.product-info){
        text-align : center;
    }
    td{
        border-top    : none;
        border-bottom : 1px solid @table-border-color;
    }
    .toastercart-item-qty{
        width      : 50px;
        text-align : center;
    }
    .toastercart-item-price{
        font-weight : bold;
    }
    .itemID{
        color : @gray;
    }
    @media only screen and (max-width : @responsive-size-tablet){
        tr{
            display       : block;
            border        : 1px solid @gray;
            margin-bottom : 20px;
            overflow      : hidden;
            position      : relative;
        }
        td{
            display  : block;
            overflow : hidden;
            border   : none;
            .product-qty{
            }
        }
        .table-head{
            display : none;
        }
        .product-img{
            float  : left;
            margin : 1%;
            img{ }
        }

        .product-info{
            padding-right : 3em;
        }
        .options-list{
            .inline-block-wrap(top);
        }
        .options{
            margin     : 0 5px 5px 0;
            background : #e9e9e9;
            padding    : @padding-mini-vertical @padding-mini-horizontal;
        }

        .product-unit-price, .product-qty, .product-total, .product-remove{
            float : left;
        }
        .product-unit-price, .product-total{
            font-size : @font-size-larger;
            width     : 40%;
        }
        .product-unit-price{
            clear : left;

            span{ }
        }

        .product-qty{
            width         : 20%;
            padding-left  : 0;
            padding-right : 0;
            input{
                width : 100%;
            }
        }

        .product-total{ }

        .product-remove{
            //width     : 16%;
            font-size : 1.5em;
            position  : absolute;
            top       : -10px;
            right     : -10px;
            .remove-item{
                //.button(@brand-error; transparent; @brand-error);
                //border-style : solid;
                //border-width : 2px;
                border     : 3px solid @brand-error;
                color      : @brand-error;
                .border-radius(50%);
                font-size  : 0.6em;
                .inline-block();
                text-align : right !important;

                &:before{
                    content                 : "\e0a2";
                    padding                 : 5px;
                    font-family             : 'flexkit-icons';
                    speak                   : none;
                    font-style              : normal;
                    font-weight             : normal;
                    text-transform          : none;
                    line-height             : 1;
                    text-align              : center;
                    .inline-block(bottom);

                    // Better Font Rendering
                    -webkit-font-smoothing  : antialiased;
                    -moz-osx-font-smoothing : grayscale;
                }
                img{
                    display : none;
                }
            }
        }
    }
    @media only screen and (max-width : @responsive-size-mobile){

    }

}

// Checkout widget styles
//==================================================
#checkout-widget{

    .checkout-button{
        font-size  : 0;
        text-align : center;
        > *{
            .inline-block(top);
            font-size : @font-size-base * 1.25;
            @media only screen and (max-width : @responsive-size-mobile){
                display                       : block;
            }
        }
        a{
            text-align       : center;
            width            : 90% / 2;
            padding          : 14px 0;
            color            : #ffffff;
            background-color : @primary-bg;
            .transition();
            //font-size        : @font-size-large;
            //float            : left;

            &:hover, &:active{
                background-color : darken(@primary-bg, 10%);
            }
        }
        span{
            width            : 10%;
            padding          : 14px 0;
            background-color : @content-bg;
            color            : @gray;
            text-align       : center;
            //float            : left;
            //font-size        : @font-size-larger;
            //.box-sizing();
        }
        @media only screen and (max-width : @responsive-size-mobile){
            a, span{
                width : 100%;
            }
        }
    }
}
// Checkoutsummary styles
//==================================================
.checkoutsummary{
    background-color : #FFF;
    padding          : @padding-base-vertical;
    & > div{
        margin-bottom : 15px;
        &:last-child{
            margin-bottom : 0;
        }
    }
    .checkout-widget-title{ // header
        //color            : @gray-dark;
        //font-weight : bold;
        background-color : @quote-heading-bg;
        //color            : #ffffff;
        padding          : 5px;
        margin-bottom    : 5px;
    }

    .cart-summary-row{
        padding  : @padding-small-vertical 0;
        overflow : hidden;

        span{
            float   : left;
            width   : 50%;
            display : block;
        }
        #total-val{
            font-weight : bold;
        }
    }
}
// Checkout landing and pickup forms
//==================================================
/*#checkout-pickup-form, #checkout-shipping-form{
    padding  : @padding-base-vertical;
    overflow : hidden;
    & > div{
        float   : left;
        .box-sizing();
        width   : 50%;
        padding : 0 3%;
        &:first-child{
            border-right : 1px dashed @gray;
        }

    }
}*/
// Checkout widget preview
#checkout-widget-preview{
    div{
        margin-bottom : 15px;
    }
    .preview-content{
        margin : 0 10px;
        span{
            display : block;
        }
    }
}
// Checkout widget
#checkout-widget{
    margin-bottom : 1.5em;

    .checkout-forms-header{
        border-bottom : 1px dashed @gray;
        margin        : 0 0 1em;
        padding       : 0 0 5px;
        background    : none;
    }
    .back-button{
        float      : right;
        font-size  : @font-size-small;
        margin-top : 7px;
    }
    //base style for forms
    .toaster-checkout, #login-form{
        float     : none;
        display   : block;
        max-width : none;
        width     : auto;
    }
    label{
        margin    : 0;
        float     : left;
        width     : 35%;
        font-size : @font-size-small;

        &.checkbox_radio-wrap{
            width       : auto;
            margin-left : 3%;
        }
    }
    input, textarea, select{
        float : left;
        width : 65%;
        //.box-sizing();
    }
    input{
        &[type="submit"]{
            margin-top : 0;
            float      : right;
            width      : auto;
        }
    }
    fieldset{
        background : none;
        float      : left;
        //.box-sizing();
        width      : 48.5%;
        //padding    : 3%;
        margin     : 0 0 1.5em;
        height     : auto;
        &:first-child{
            margin-right : 3%;
        }
        @media only screen and (max-width : @responsive-size-tablet){
            float                         : none;
            width                         : 100%;
        }
    }

    label[for="shippingNotes"]{
        float       : none;
        margin-left : 20px;
        width       : auto;
    }
}
// checkout landing forms, checkout pickup form
#checkout-landing-forms, #checkout-pickup-form{
    overflow : hidden;
    & > div{
        float   : left;
        //.box-sizing();
        width   : 50%;
        padding : 0 3%;
        &:first-child{
            border-right : 1px dashed @gray;
        }
        @media only screen and (max-width : @responsive-size-tablet){
            width                         : 100%;
            float                         : none;
            &:first-child{
                border-right : none;
            }
        }
    }
}
//checkout pickup form
#checkout-pickup-form{
    img{
        clear       : both;
        display     : block;
        margin      : 0 auto;
        padding-top : 15px;
    }
}
//checkout shipping form, Payment zone
#checkout-shipping-form, #payment-zone{
    overflow : hidden;
    padding  : 0 3%;
}
//Payment zone
#payment-zone{
    h4{
        border-bottom : 1px dashed @gray;
        padding       : 0 0 5px;
        background    : none;
        & + fieldset{
            margin-right : 3%;
        }
    }
    fieldset{
        margin : 0 0 1.5em 0;
    }
    legend{
        padding     : 10px;
        background  : none;
        font-size   : @font-size-large;
        font-weight : normal;
        color       : @gray-dark;
    }
    label, input{
        font-weight : normal;
    }
    input[type="checkbox"], input[type="radio"]{
        width        : auto;
        margin-right : -5px;
    }
    .pointer{
        width : auto;
    }
    .shipping-to-billing-label{
        width         : auto;
        margin-bottom : 13px;
    }
    .card-verification-label{
        width        : 50%;
        margin-right : 1.5%;
    }
    .card-verification-payment{
        width : 48%;
        float : none;
    }
    .card-expiration{
        margin-right : 3%;
        width        : 25%;
    }
    .card-expiration-year{
        width : 37%;
    }
    //Payment button
    .payment-button{
        float : none;
        legend{
        }
        form{
            div{
                margin : 0;
            }
        }
        img{
            margin    : 2% 0 0 3%;
            max-width : 57%;
        }
        .seo-tip{
            background : none;
            padding    : 0;
            border     : none;
        }
    }
}
#paypal-creditcard{
    fieldset{ height : 393px; }
}
// Shipping methods
.shipping-methods{
    #checkout-widget &{
        overflow : hidden;
        margin   : 0;
        padding  : 0;
        li{
            position      : relative;
            .inline-block();
            list-style    : none;
            .grid-elements(3, @grid-margin-width, false, 2, 1);
            background    : darken(@gray-lighter, 10%);
            border        : 2px solid darken(@gray-lighter, 10%);
            overflow      : hidden;
            margin-bottom : 10px;

            &:hover{
                background : @gray-lighter;
            }
            label{
                padding       : 5%;
                min-height    : 60px;
                margin-bottom : 0;
                width         : 100%;
            }
            input{
                margin-top : 5px;
                width      : auto;
            }

            .checkbox_radio{
                margin : -5px 5px 0 0;
            }
            .shipping-price{
                font-size   : 16px;
                font-weight : bold;
            }
            .shipping-method-title{
                display : block;
            }
            p{
                border-top  : 1px dashed #FFFFFF;
                clear       : both;
                color       : #000000;
                font-size   : 11px;
                line-height : 15px;
                padding     : 7px;
                text-align  : justify;
            }
            & when (@checkbox-checkmark-windows8 = true){
                @base-color: @brand-primary;
                border : none;

                input{
                    &:checked{
                        & ~ .shipping-price{
                            &:after{
                                border-color : @base-color;
                            }
                        }
                        & + .checkbox_radio{
                            display       : block;
                            border-color  : transparent  @base-color  @base-color transparent;
                            height        : 0;
                            width         : 0;
                            border-width  : 15px;
                            border-radius : 0;
                            position      : absolute;
                            bottom        : 0;
                            right         : 0;
                            background    : none;
                            margin-right  : 0;

                            &:before{
                                position    : relative;
                                content     : "\e0a3";
                                font-family : 'flexkit-icons';
                                color       : #fff;
                                font-size   : @font-size-small;
                                left        : -2px;
                                top         : 3px;
                                display     : block;
                            }
                        }
                    }
                }
                .checkbox_radio{
                    display : none;
                }
                .shipping-price{
                    &:after{
                        content  : '';
                        border   : 2px solid darken(@gray-lighter, 10%);
                        position : absolute;
                        left     : 0;
                        right    : 0;
                        top      : 0;
                        bottom   : 0;
                    }
                }
            }
        }
    }
}
// Post purchase OR Thank you page
.post-purchase{
    //font-size : 12px;
    overflow : hidden;

    .post-purchase-report-customer-order-id{
        border-bottom : 1px dashed #CCCCCC;
        margin        : 0 0 20px;
    }
    .post-purchase-report-customer-blue{
        float        : left;
        width        : 73%;
        margin-right : 3%;
    }
    .post-purchase-report-billing, .post-purchase-report-shipping{
        float : left;
        width : 48%;
        & > div{
            background-color : #fff;
            border           : 1px solid #eeeeee;
            padding          : @padding-base-vertical @padding-base-horizontal;
            margin-bottom    : 10px;
        }
        h4{
            border-bottom : 1px dashed #888888;
            margin        : 0 0 1em;
            padding       : 0 0 5px;
        }
    }
    .post-purchase-report-billing{
        margin-right : 4%;
    }

    .post-purchase-report-summary{
        float            : right;
        overflow         : hidden;
        width            : 25%;
        background-color : #FFF;
        padding          : @padding-base-vertical;

        & > div{
            font-size     : @font-size-small;
            margin-bottom : 15px;

            &:last-child{
                margin-bottom : 0;
            }
        }
        h3{ // header
            //color            : @gray-dark;
            //font-weight : bold;
            background-color : @quote-heading-bg;
            //color            : #ffffff;
            padding          : 5px;
            margin-bottom    : 5px;
        }

        .post-purchase-row{
            padding  : @padding-small-vertical 0;
            overflow : hidden;

            span{
                float   : left;
                width   : 50%;
                display : block;
            }
            .cart-total{
                font-weight : bold;
            }
        }
    }
    @media only screen and (max-width : @responsive-size-tablet){
        .post-purchase-report-billing, .post-purchase-report-shipping{
            margin-right : 0;
            width        : 100%;
        }
        .post-purchase-report{
            thead{
                display : none;
            }
        }
        .post-purchase-report-summary{
            width: 100%;
        }
    }

    .post-purchase-report-customer-blue h4, {
        font-weight : bold;
        margin      : 0;
    }
    .post-purchase-report{ margin : 25px 0; }
    .cart-content .product-blue span{ display : block; }
}

/////////////////////////////////////////////////////////////////////

.quote-blue{
    float   : left;
    width   : 44%;
    padding : 0 3%;
    margin  : 20px 0 50px;
    & > p{
        margin : 0 15px;
    }
    &:first-child{
        margin-left  : -1px;
        border-right : 1px dashed #CCCCCC;
    }
    .title{
        border-bottom : 1px dashed #CCCCCC;
        color         : #444444;
        font-size     : 19px;
        font-weight   : bold;
        margin        : 0 0 20px;
        padding       : 0 0 5px;
        background    : none;
    }
    #billing-user-address, #shipping-user-address{ }
    form{
        margin : 0 15px;
        fieldset{
            &:first-child{
                margin-bottom : 20px;
            }
            & > div{
                label{
                    margin    : 0;
                    float     : left;
                    width     : 33%;
                    font-size : 12px;
                }
                input, select{
                    float   : left;
                    width   : 65%;
                    padding : 4px 0;
                    margin  : 0 0 5px;
                }
                select{
                    padding : 3px 0;
                }
            }
        }
        label[for="same-for-shipping"]{
            width : auto;
        }
        #same-for-shipping{
            margin : 2px 0 0 5px;
        }
    }
}
#shippingNotes{
    margin-top  : -14px;
    margin-left : 2px;
}
#shippingNotes.notvalid{
    .box-shadow(0 0 1px 1px #F00);
}