// Product lists
//==================================================
.product-item{
    position   : relative;
    font-size  : @font-size-base;
    background : #fff;

    &.sametags{
        .product-image{
            max-height : 100px;
            overflow   : hidden;
        }
    }

    &.grid{
        margin-bottom : 4%;
        padding       : 0 0 15px;
        .inline-block;
        .grid-elements(3, 4%, true);
        .grid-elements-device(3, 1, 4%, true);

        > div{
            position : static;
            margin   : 0;
        }
        .product-image{
            margin      : 0;
            height      : 130px;
            line-height : 130px;
        }
        .product-title{
            margin-top : @padding-small-horizontal;
            padding    : 0 10px;
            height     : 24px;
        }
        .product-description{
            display : none;
        }
        .product-price{
            text-align : center;
            height     : 25px;
            margin     : 0 0 10px;
        }
        .tcart-add{
            width     : 75%;
            margin    : 0 auto;
            display   : block;
            font-size : @font-size-base;
        }
        [class*="grid_"]{
            width    : 100%;
            //height   : 120px;
            overflow : hidden;
        }
        .product-free-shipping{
            display    : block;
            text-align : center;
            margin-top : 5px;
        }
        .b-prices{
            position    : relative;
            padding-top : 15px;

            .product-old-price{
                position   : absolute;
                left       : 0;
                top        : 0;
                width      : 100%;
                text-align : center;
            }
        }
    }
    &.list{
        overflow      : hidden;
        margin-bottom : @padding-larger-horizontal + @padding-larger-horizontal;
        padding       : 10px;
        .grid-elements-device(1, 1, 4%, true);

        .product-image{
            float   : left;
            padding : 0;
        }

        .product-description{
            margin-top    : 0;
            height        : 41px;
            overflow      : hidden;
            clear         : both;
            margin-bottom : @padding-larger-horizontal;
        }
        .tcart-add{
            //margin-left : (@grid-margin-width / 2);
            width : auto;
        }
        .product-price{
            display    : block;
            margin     : 0 0 10px;
            text-align : center;
        }
        .product-new-price{
            position       : inherit;
            top            : 0;
            left           : 0;
            display        : inline-block;
            vertical-align : middle;
            background     : none;
            font-size      : 1.5em;
            font-weight    : bold;
            margin         : 0 0 10px;
        }
        .product-old-price{
            display        : inline-block;
            vertical-align : middle;
            margin-right   : 15px;
        }
        .b-prices{
            overflow : hidden;
        }
    }

    &.related{
        margin-bottom : 2%;
        .inline-block;
        .grid-elements(4, 2%, true);

        .product-title{
        }
        .product-price{
            margin    : 0;
            font-size : @font-size-base;
            height    : 20px;
        }
        .tcart-add{
            //.button-size(small);
            width : 100%;
        }
    }

    // General styles
    .product-image{
        display : block;
        padding : 15px;
        border  : none;

        img{ }
    }
    .product-title{
        display       : block;
        color         : #000;
        font-size     : 1.1em;
        font-weight   : bold;
        margin-bottom : 5px;
        .text-overflow();

        &:hover{
            color : @brand-primary;
        }
    }
    .product-description{
    }
    .product-price{
        text-align   : left;
        font-weight  : bold;
        //padding     : @padding-small-vertical 0;
        display      : block;
        font-size    : @font-size-large;
        color        : @brand-primary;
        margin-right : 15px;
    }
    .product-new-price{
        color       : @brand-primary;
        font-weight : bold;
        display     : block;
        text-align  : center;
        margin      : 0 0 10px;
        font-size   : 1.25em;
        //.box-sizing();

        &:empty{
            padding : 0;
        }
        &:not(:empty) + .product-price{
            text-decoration : line-through;
            color           : @gray;
            //margin          : 0 15px 0 0;
            font-weight     : normal;
            font-size       : 1em;
        }
    }
    .product-old-price{
        text-decoration : line-through;
        color           : @gray;
        margin          : 0;
        font-weight     : normal;
        font-size       : 1em;
    }

    .tcart-add{
        .button();
    }
    // Styles for options
    .product-free-shipping{
        //.box-sizing();
        font-size     : 10px;
        text-align    : center;
        display       : inline-block;
        position      : absolute;
        right         : 0;
        top           : 0;
        line-height   : 1.1;
        background    : #1abc9c;
        font-family   : 'Courgette', cursive;
        border-radius : 50% 50% 50% 0;
        width         : 48px;
        height        : 39px;
        padding-top   : 7px;
        color         : #fff;
    }
    .product-sale{
        display : none;
    }
}

// Product lists on left or right sidebar
//==================================================
.sidebar{
    .product-item{
        &.grid, &.list{
        }

        // General styles
        .product-image{
            img{ }
        }
        .product-title{
        }
        .product-description{
        }
        .product-price{
        }
        .product-new-price{
        }
        .tcart-add{
        }

        // Styles for options
        .product-free-shipping{
        }
        .product-sale{
        }
    }
}

// Product lists on left or right sidebar
//==================================================
.related-products{
    .inline-block-wrap();
    li{
        .grid-elements(3, 4%, true);
        margin-bottom : 4%;
        background    : #fff;
        height        : 221px;

        .product-title{
            .text-overflow();
            display       : block;
            color         : #000;
            font-size     : 1.1em;
            font-weight   : bold;
            margin-bottom : 5px;
            padding       : 0 5px;
        }
        .product-image{
            border      : none;
            height      : 130px;
            line-height : 130px;
            padding     : 15px;
            margin      : 0;

            img{ }
        }

        .product-description{
            display : none;
        }
        .product-price{
            text-align  : center;
            font-weight : bold;
            display     : block;
            font-size   : 1.25em;
            color       : #3498db;
            height      : 25px;
            margin      : 0 0 10px;
        }
        .tcart-add{
        }
        &:hover{
            .product-title{ }
        }
    }
}

// Product related (magicspace)
//==================================================
.product-related-wrap{
    div.seotoaster &{
        background-color : none;
        border           : none;
        & div.product-related-content{
            font-size        : 0;
            padding          : none;
            background-color : none;
        }
    }
    .product-related-controlls{
        display : none;
    }

}

.product-change{
    position : absolute;
    top      : -38px;
    right    : 0;
    a{
        font-size   : @font-size-large;
        margin-left : @padding-base-vertical;
    }
}