// Grid and Column System
//==================================================
@import "../systems/grid";

// System classes
//==================================================
@import "../systems/system-classes";

// Social styles
//==================================================
& when (@social-styles = true){
    @import "../content/social";
}

// Basic Styles
//==================================================
body{
    font-size   : @font-size-base;
    font-family : @font-family-text;
    line-height : @line-height;
}

// Custom Classes
//==================================================
@import "../content/helper-classes";

// Typography and Classes for content
//==================================================
@import "../content/typography";

//	Blockquotes
//==================================================
@import "../content/blockquotes";

// Lists Styles
//==================================================
@import "../content/lists";

// Tables Styles
//==================================================
@import "../content/tables";

// Images Styles
//==================================================
@import "../content/images";

// Buttons Styles
//==================================================
@import "../content/buttons";

// Separator Styles
//==================================================
@import "../content/separator";

// Badges Styles
//==================================================
@import "../content/badges";

// Message Styles
//==================================================
@import "../content/message";

// Callout Styles
//==================================================
@import "../content/callout";

// Panel Styles
//==================================================
@import "../content/panel";