.container when (@container-class) {
    position : relative;
    & when not(@grid-container-width = 100%) and not(@adaptive) {
        margin-left  : auto;
        margin-right : auto;
        width : @grid-container-width;

        & when (@responsive), (@container-responsive) {
            max-width : @grid-container-maxWidth;
            & when (@grid-container-minWidth > 0) {
                min-width : @grid-container-minWidth;
            }
        }
    }
    & when (@adaptive) {
        margin-left  : auto;
        margin-right : auto;
        & when (@grid-container-minWidth > 0) {
            min-width : @grid-container-minWidth;
        }

        & when not(@grid-container-width > @responsive-size-big-screen) and not(@grid-container-width > @responsive-size-desktop) {
            max-width : @responsive-size-big-screen;
        }
        & when (@grid-container-width > @responsive-size-big-screen), (@grid-container-width > @responsive-size-desktop) {
            max-width : @grid-container-width;
        }

        & when (@grid-container-width > @responsive-size-desktop), (@grid-container-width = 100%) {
            @media only screen and (max-width : @responsive-size-big-screen) {
                & {
                    max-width : @responsive-size-desktop;
                }
            }
        }
        @media only screen and (max-width : @responsive-size-desktop) {
            & {
                max-width : @responsive-size-tablet;
            }
        }
        @media only screen and (max-width : @responsive-size-tablet) {
            & {
                max-width : @responsive-size-mobile;
            }
        }
    }
    .clearfix-mixin();
}

// GRID CSS
//==================================================
[class*=" grid_"], [class^="grid_"], [class*="-grid_"], [class*="_grid_"] {
    & when (@grid-system) {
        float        : left;
        position     : relative;
        width        : 100% - @grid-margin-width;
        margin-left  : (@grid-margin-width / 2) !important;
        margin-right : (@grid-margin-width / 2) !important;
    }
}
.grid();