@top-block-height : @button-height-large;
@top-block-bg     : @primary-bg;
@top-block-color  : @primary-color;
@top-block-zindex : 100;

@bottom-block-height : @button-height-large;
@bottom-block-bg     : @primary-bg;
@bottom-block-color  : @primary-color;
@bottom-block-zindex : 100;

@media only screen and (max-width : @responsive-size-tablet){

    .top-block{
        position    : fixed;
        left        : 0;
        top         : 0;
        right       : 0;
        z-index     : @top-block-zindex;
        height      : @top-block-height;
        line-height : @top-block-height;
        color       : @top-block-color;
        background  : @top-block-bg;
        .box-shadow(0 0 7px @gray-dark);
    }

    .bottom-block{
        position    : fixed;
        left        : 0;
        bottom      : 0;
        right       : 0;
        z-index     : @bottom-block-zindex;
        height      : @bottom-block-height;
        line-height : @bottom-block-height;
        color       : @bottom-block-color;
        background  : @bottom-block-bg;
        .box-shadow(0 0 7px @gray-dark);
    }

    .mobile-overlay{
        position   : fixed;
        top        : @top-block-height;
        right      : 0;
        bottom     : 0;
        left       : 0;
        z-index    : @top-block-zindex - 2;
        margin     : 0;
        background : rgba(0, 0, 0, 0.5);
        display    : none;

        &.open{
            display : block;
        }
    }

    .menu-btn{
        cursor         : pointer;
        background     : transparent;
        padding        : 0;
        text-transform : uppercase;

        &:before{
            content    : '';
            margin-top : (@top-block-height - 20px) / 2;
            height     : 20px;
            width      : 15px;
            .transition();
            .gradient-vertical(#fff 0%, #fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%, #fff 100%);
        }

        &.left{
            float : left;

            &:before{
                float : left;
            }
        }
        &.right{
            float      : right;
            text-align : right;

            &:before{
                float : right;
            }
        }
    }

    & when (@mobile-menu-over = true){
        @import "menu/over";
    }
    & when (@mobile-dropdown = true){
        @import "menu/dropdown";
    }
}
