.breadcrumbs when (@breadcrumbs){
    color : @breadcrumbs-color;

    a{
        color : @breadcrumbs-link-color;

        &:hover{
            color : @breadcrumbs-link-color-hover;
        }
    }
}