// Base styles
// --------------------------------------------------
.btn{
    .button();

    &[disabled], &.disabled{
        border-color     : @gray-light !important;
        color            : @gray-light !important;
        background-color : @gray-lighter !important;
        & when (@ie) and (@ie8){
            cursor : default !important;
        }
        cursor           : not-allowed !important;
        .box-shadow(~'none !important', @button-box-shadow);
    }

    &.hide{
        &:extend(.hide);
    }

    &[class*="grid_"], [class*="column_"] > &{
        padding-left  : 0 !important;
        padding-right : 0 !important;
    }

    // Buttons style
    // --------------------------------------------------
    @import "button/buttons-style";

    // Alternate color buttons
    // --------------------------------------------------
    @import "button/buttons-color";

    // Block button
    // --------------------------------------------------
    @import "button/buttons-block";

    // Button with icon
    // --------------------------------------------------
    @import "button/buttons-icon";

    // Button link
    // --------------------------------------------------
    @import "button/buttons-link";

    // Button outline
    // --------------------------------------------------
    @import "button/buttons-outline";

    // Button caption
    // --------------------------------------------------
    @import "button/buttons-caption";
}

// Button group
// --------------------------------------------------
@import "button/buttons-group";