.img_gallery when (@image-gallery){
    margin : 10px 0;
    .inline-block-wrap(middle; li);

    li{
        position   : relative;
        margin     : 5px;
        text-align : center;
    }

    a{

        img{
            .thumbnail-state();
        }
    }

    .image_caption{
        position    : absolute;
        bottom      : 0;
        left        : 0;
        right       : 0;
        z-index     : 10;
        margin      : 0;
        line-height : @line-height;
        padding     : @padding-small-vertical;
        color       : @thumbnail-caption-color;
        text-align  : center;
        font-size   : @font-size-small;
        .text-overflow;
        .rgba(@thumbnail-caption-bg; @thumbnail-caption-opacity);
    }
}

// TODO add new gallery style  http://demosthenes.info/blog/844/Easy-Masonry-Layout-With-Flexbox
// Easy Masonry Layout With Flexbox